################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/DXLib
/.vs
/x64/Debug
/Log.txt
/ResourceX
/Resource/イラスト.clip
/Resource/Bullet31.clip
/Resource/bullet21.clip
/Resource/bullet11.clip
/Resource/bullet01.clip
/Resource/bullet0.clip
/vXp4HJE5BsmslSC6.mp4
/Resource/UIFoundation.psd
/Resource/FontTest.psd
/Resource/Bullet41.clip
/Resource/UI100
/Resource/UI075
/Resource/UI065
/Resource/UI050
/Resource/UI_fullhd2/waku22.psd
/Resource/UI_fullhd2/RankWaku.psd
/Resource/RankWaku.psd
/Resource/old
